:root {
    --clr-base: hsl(120, 20%, 99%);
    --clr-base-lt: hsl(0, 0%, 100%);
    --clr-base-lt-values: 0 0% 100%;
    --clr-primary: hsl(117, 24%, 84%);
    --clr-secondary: hsl(111, 12%, 31%);
    --clr-accent: hsl(220, 37%, 8%);
    --clr-accent-values: 220 37% 8%;

    --shadow: 0 4px 6px 0 hsl(var(--clr-accent-values) / 0.25);
    --border: 1px solid var(--clr-accent);

    --fontsize-modifier: 0.55rem;
    --fontsize-l: calc(clamp(3.1rem, 2.1vw + 2.5rem, 4.2rem) - var(--fontsize-modifier));
    --fontsize-s: calc(clamp(2rem, 0.8vw + 1.8rem, 2.4rem) - var(--fontsize-modifier));
    --fontsize-nav-l: calc(clamp(2.4rem, 1.3vw + 2.1rem, 3.2rem) - var(--fontsize-modifier));
    --fontsize-nav-s: calc(clamp(1.6rem, 0.4vw + 1.5rem, 1.8rem) - var(--fontsize-modifier));
    --lineheight-modifier: 1.3;

    --header-height: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-accent);
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--fontsize-l);
    line-height: calc(var(--fontsize-l) * var(--lineheight-modifier));  
    font-family: "DM Serif Display";
}

p, a, button, label, input, textarea {
    font-size: var(--fontsize-s);
    line-height: calc(var(--fontsize-s) * var(--lineheight-modifier));
}

img {
    width: auto;
    height: auto;
}

img.horizontal {
    aspect-ratio: 15/10;
}

img.vertical {
    aspect-ratio: 10/15;
}

button {
    cursor: pointer;
}

body {
    background: var(--clr-base);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}