---
import "../styles/about.css";

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="main">
        <h1>About Us</h1>
        <p>Coming from the bright students of MAWD102/202 from S.T.I. Ortigas Extension. We are Pitiks, an on-campus Information Technology Student Organization that specializes in providing photography services within our campus.</p>
        <p>What started as a hobby, turned into a passion that grew a team of creative minds whose goal is to encourage and persuade you, that you have your own charm and beauty.</p>
    </div>

    <div class="carousel-section">
        <h2>Recent Works</h2>
        <div class="carousel-container">
            <div class="carousel">
                <div class="img-container">
                    <img src="../src/assets/images/203.webp" alt="" class="vertical">
                    <img src="../src/assets/images/401.webp" alt="" class="vertical">
                    <img src="../src/assets/images/301.webp" alt="" class="horizontal">
                </div>
                <div class="img-container">
                    <img src="../src/assets/images/406.webp" alt="" class="horizontal">
                    <img src="../src/assets/images/106.webp" alt="" class="vertical">
                    <img src="../src/assets/images/305.webp" alt="" class="vertical">
                </div>
                <div class="img-container">
                    <img src="../src/assets/images/302.webp" alt="" class="vertical">
                    <img src="../src/assets/images/404.webp" alt="" class="vertical">
                    <img src="../src/assets/images/105.webp" alt="" class="horizontal">
                </div>
                <div class="img-container">
                    <img src="../src/assets/images/402.webp" alt="" class="horizontal">
                    <img src="../src/assets/images/103.webp" alt="" class="vertical">
                    <img src="../src/assets/images/201.webp" alt="" class="vertical">
                </div>
            </div>
            <div class="carousel">
                <div class="img-container">
                    <img src="../src/assets/images/203.webp" alt="" class="vertical">
                    <img src="../src/assets/images/401.webp" alt="" class="vertical">
                    <img src="../src/assets/images/301.webp" alt="" class="horizontal">
                </div>
                <div class="img-container">
                    <img src="../src/assets/images/406.webp" alt="" class="horizontal">
                    <img src="../src/assets/images/106.webp" alt="" class="vertical">
                    <img src="../src/assets/images/305.webp" alt="" class="vertical">
                </div>
                <div class="img-container">
                    <img src="../src/assets/images/302.webp" alt="" class="vertical">
                    <img src="../src/assets/images/404.webp" alt="" class="vertical">
                    <img src="../src/assets/images/105.webp" alt="" class="horizontal">
                </div>
                <div class="img-container">
                    <img src="../src/assets/images/402.webp" alt="" class="horizontal">
                    <img src="../src/assets/images/103.webp" alt="" class="vertical">
                    <img src="../src/assets/images/201.webp" alt="" class="vertical">
                </div>
            </div>
        </div>
    </div>
</MainLayout>

<!-- <div class="showcase">
    <div class="img-container">
        <img src="../src/assets/images/203.webp" alt="" class="vertical">
        <img src="../src/assets/images/303.webp" alt="" class="horizontal">
        <img src="../src/assets/images/405.webp" alt="" class="horizontal">
        <img src="../src/assets/images/106.webp" alt="" class="vertical">
        <img src="../src/assets/images/105.webp" alt="" class="horizontal">
        <img src="../src/assets/images/204.webp" alt="" class="horizontal">
        <img src="../src/assets/images/401.webp" alt="" class="vertical">
        <img src="../src/assets/images/406.webp" alt="" class="horizontal">
        <img src="../src/assets/images/301.webp" alt="" class="horizontal">
    </div>
</div> -->