---
import "../styles/contact.css";

import MainLayout from "../layouts/MainLayout.astro";
import Form from "../components/Form.astro";
---

<MainLayout title="Contact">
    <div class="main">
        <Form/>
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d965.3229450847252!2d121.1257931!3d14.5824426!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c7867829fe41%3A0x910ca6046c2a1a2f!2sSTI%20College%20-%20Ortigas-Cainta!5e0!3m2!1sen!2sph!4v1691485744937!5m2!1sen!2sph" height="700" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</MainLayout>