---
import "../styles/global.css";

const { title = "Pitiks" } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="PitiksRedesign/../src/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="PitiksRedesign/../src/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="PitiksRedesign/../src/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="PitiksRedesign/../src/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="PitiksRedesign/../src/assets/favicon/safari-pinned-tab.svg" color="#0d121c">
    <meta name="msapplication-TileColor" content="#fcfdfc">
    <meta name="theme-color" content="#fcfdfc">
    <script src="PitiksRedesign/../src/scripts/global.js" defer></script>
    <script src="https://kit.fontawesome.com/e00005890a.js" crossorigin="anonymous"></script>
    <title>{title}</title>
</head>
<body>
    <Header/>
    <slot/>
    <Footer/>
</body>
</html>